h2
    a(href='/' + repo + '/') #{repo}
    &nbsp;/
    each parent in parents
        if !parent.isLast
             a(href=parent.url) #{parent.label}
             &nbsp;/
        else
            span= parent.label
