h2.breadcrumb
    a(href='/' + repo + '/') #{repo}
    &nbsp;/
    if typeof parents != 'undefined'
        each parent in parents
            if !parent.isLast
                 a(href=parent.url) #{parent.label}
                 &nbsp;/
            else
                if parent.label != '.'
                    span= parent.label
