.last-commit
    span(class='pictogram clock')
    span.label Latest commit to the <strong>#{branches.current}</strong> branch
    div.commit
        p.message
            #{last.message}
        p.authored
            strong #{last.author.name}
            span &nbsp; authored #{last.date}
