.last-commit
    span(class='pictogram clock')
    span.label Latest commit to the <strong>#{branches.current}</strong> branch
    div.commit
        p.message
            #{lastCommit.message}
        p.authored
            strong #{lastCommit.author.name}
            span &nbsp; authored #{lastCommit.age}
