.quick-nav.margin-bottom
    .container
        a.toggle(style='width: 150px;')
            span.label Switch Branches/Tags
        .options
            ul.options-inner
                li.option-title --- Branches ---
                each branch in branches
                    if ref == branch
                        li.current
                            span= branch
                            span.pictogram.ok.
                    else:
                        li
                            a(href='/' + repo +'/tree/' + branch + '/')= branch
                li.option-title --- Tags ---
                each tag in tags
                    if ref == tag
                        li.current
                            span= tag
                            span.pictogram.ok.
                    else
                        li
                            a(href='/' + repo +'/tree/' + tag + '/')= tag

    ul.tabs
        if view == 'tree'
            li.selected: a(href='/' + repo + '/') Files
        else
            li: a(href='/' + repo + '/') Files
        if view == 'history'
            li.selected: a(href='/' + repo + '/commits/' + ref) Commits
        else
            li: a(href='/' + repo + '/commits/' + ref) Commits
