extends layout

block content
    div.preview
        if mime.indexOf('image') == 0
            img(src=rawURL)
        else
            pre(class='code sunlight-highlight-' + filetype)
                =data.toString()
