extends layout

block content
    include includes/header

    .main
        include includes/description
        include includes/breadcrumb
        include includes/quick-nav

        div.preview
            if mime.indexOf('image') == 0
                img(src=rawURL)
            else
                pre(class='code sunlight-highlight-' + filetype)
                    =data.toString()
