extends layout

block content
    include includes/breadcrumb

    div.preview
        if data.mime.indexOf('image') == 0
            img(src=rawURL)
        else
            pre(data-extension=extension, class='code')
                =data.toString()
