extends layout

block content
    include includes/header

    .main
        h2
            p Commit history for #{repo}
        include includes/quick-nav
        include includes/page

        each commit in history
            include includes/commit
