extends layout

block content
    include includes/header

    .main
        include includes/breadcrumb
        include includes/description
        include includes/quick-nav

        include includes/page

        each commit in history
            include includes/commit
