extends layout

block content
    include includes/header

    .main
        each repo in repos
           .repo
                h3
                    a(href= basepath + '/' + repo.name) #{repo.name}
                p.description(data-repo=repo.name)= repo.description()
                p Last updated: #{repo.mtime}
