extends layout

block content
    include includes/header

    .main
        each repo in repos
           .repo
                h3
                    a(href= basepath + '/' + repo.name) #{repo.name}
                p Last updated #{repo.mtime}
