!!! 5
html
    head
        title Listing #{repo}
        style
            .age, .name { width:140px; }
            .message { width: 600px; }

            tr th {
                text-align: left;
            }
    body
        block content
            .lol cat