!!! 5
html
    head
        title Pushub
        link(rel="stylesheet", type="text/css", href=basepath + "/stylesheets/main.css")
        link(rel="stylesheet", type="text/css", href=basepath + "/stylesheets/sunlight.default.css")
    body
        block content

        script(src=basepath + "/javascripts/sunlight-all-min.js")
        script(src=basepath + "/javascripts/bootstrap.js")
