!!! 5
html
    head
        title Listing #{repo}
        link(rel="stylesheet", type="text/css", href="/stylesheets/main.css")
        link(rel="stylesheet", type="text/css", href="/stylesheets/sunlight.default.css")
    body
        block content
        script(src="/javascripts/sunlight-all-min.js")
        script(src="/javascripts/sunlight-extension-map.js")
        script(src="/javascripts/sunlight-bootstrap.js")
