extends layout

block content
    include includes/quick-nav

    if typeof last != 'undefined'
        include includes/lastcommit

    .tree-list-wrapper
        table.tree-list
            thead
                tr
                    th.name name
                    th.age age
                    th.message message
            tbody
                each item in items
                    tr
                        td.name
                            span(class="pictogram " + item.type)
                            a(href=item.url)= item.name
                        td.age= item.commits.age
                        td.message= item.commits.last().message
                            [
                            a(href="mailto:" + item.commits.last().author.email) #{item.commits.last().author.name}
                            ]
